body{
    background: linear-gradient(to right, #54ff0f, #ff8917);
    color: #fff;
    padding: 20px;
}

.movies span{
    padding: 2px;
}

body a{
    text-decoration: none;
    color: #fff;
}

.activeLink{
    text-decoration: underline;
}
div.navbar{
    display: flex;
}
ul.navbar{
    display: flex;
    list-style-type: none;
}

ul.navbar>li {
    padding-right: 10px;
    font-size: 40px;
    text-transform: uppercase;
}